<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Search</a>
  <form class="form-inline">
       <input class="form-control mr-sm-2" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Ex: 1s-2n-3c" aria-label="Search"/>
  </form>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Modules</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let module of modules" class="nav-item">
        <a class="nav-link" href="#{{module.id}}" data-toggle="modal" data-target="#{{module.id}}">{{module.name}}</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="list-group" *ngIf="!result">
  <div *ngFor="let bid of sequences">
    <bid [bid]="bid"></bid>
  </div>
</ul>

<div *ngIf="result">
	<bid [bid]="result"></bid>
</div>

<div *ngFor="let module of modules" class="modal fade" id="{{module.id}}" tabindex="-1" role="dialog"
[attr.aria-labelledby]="module.id" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{module.id}}">{{module.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" *ngIf="!result">
		  <div *ngFor="let bid of module.options">
		    <bid [bid]="bid" [expandAll]="true"></bid>
		  </div>
		</ul>
      </div>
    </div>
  </div>
</div>